{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Blog</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="pagination-bar">
                       <h1>ADD BLOG POST </h1>
                      <form  method="POST">{% csrf_token %}
                           {{form.as_p}}
                           <div class="post-btn">
                               <a class="btn btn-common" href="{% url 'blog'%}"><i class="lni-pencil-alt"></i> EXIT </a>
                               <a class="btn btn-common" href="{% url 'add_blog'%}"><i class="lni-pencil-alt"></i> ADD </a>
                           </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
