{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
   <div class="main-container section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
               <aside>
                  <div class="widget_search">
                     <form role="search" id="search-form">
                        <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..." id="search-input" value="">
                        <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                     </form>

                  </div>
                  <div class="widget categories">
                     <h4 class="widget-title">All Categories</h4>
                     <ul class="categories-list">
                        {% for category in categories %}
                        <li>
                           <a href="#">
                           <i class="lni-dinner"></i>
                           {{ category.name }}<span class="category-counter"></span>
                           </a>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
                  <div class="widget">
                     <h4 class="widget-title">Advertisement</h4>
                     <div class="add-box">
                        <img class="img-fluid" src="{% static 'img/img1.jpg' %}" alt="">
                     </div>
                  </div>
               </aside>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12 page-content">
               <div class="product-filter">
                  <div class="short-name">

                     <div id="list-view" class="tab-pane fade active show">
                        <div class="row">
                           {% for product in page_obj %}
                            {% if product.created_date %}
                            <tr class="treegrid-{{ forloop.counter }}">
                           <td>{{ category.name }}</td>
                <tr class="treegrid-{{ forloop.counter|add:1 }} treegrid-parent-{{ forloop.counter }}">
                    <td>{{ product.title }}</td>
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="featured-box">
                                 <figure>
                                    <span class="price-save">
                                    10% Save
                                    </span>
                                    <div class="icon">
                                       <span class="bg-green"><i class="lni-heart"></i></span>
                                       <span><i class="lni-bookmark"></i></span>
                                    </div>
                                    <a href="{% url 'details' %}"><img class="img-fluid" src="/{{ product.image }}" alt="altdcd"></a>
                                 </figure>
                                 <div class="feature-content">
                                    <div class="product">
                                       <a href="{% url 'details' %}">{{ product.name }} </a>
                                       <a href="{% url 'details' %}">Apple</a>
                                    </div>
                                    <h4><a href="{% url 'details' %}">{{ product.title }}</a></h4>
                                    <div class="meta-tag">
                                       <span>
                                       <a href="{% url 'details' %}"><i class="lni-user"></i> {{ product.user }}</a>
                                       </span>
                                       <span>
                                       <a href="{% url 'details' %}"><i class="lni-map-marker"></i> {{ product.region }}: {{ product.district }} </a>
                                       </span>
                                       <span>
                                       <a href="{% url 'details' %}"><i class="lni-tag"></i> {{ product.name }}</a>
                                       </span>
                                    </div>
                                    <p class="dsc"> {{ product.decription|safe }}</p>
                                    <div class="listing-bottom">
                                       <h3 class="price float-left">${{ product.price }}</h3>
                                       <a href="{% url 'details' %}" class="btn btn-common float-right">{{ index }}</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                               {% endif %}
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="pagination-bar">
                  <nav>
                     <ul class="pagination justify-content-center">
                        {% for page in page_l %}
                            <li class="page-item"><a class="page-link active" href="?page=1">{{ page }}</a></li>
                        {% endfor %}
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}